body,
p,
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #E5E5E5;
}

.mag-rigth {
  margin-right: 12vw;
}

.Nav-Bar {
  width: 100%;
  background-color: #FFFFFF;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 8.3vh;
}
.Nav-Bar div {
  display: flex;
  gap: 1rem;
}
.Nav-Bar .left {
  align-items: center;
}
.Nav-Bar .left .left-H {
  background-color: #FFFFFF;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  box-shadow: 0px 25px 37px 3px rgba(0, 0, 0, 0.22);
}
.Nav-Bar #burguer:focus ~ .container-menu {
  display: block;
}
.Nav-Bar .container-menu {
  background-color: #FFFFFF;
  color: #222222;
  display: grid;
  width: 100%;
  position: absolute;
  margin-top: 17.1rem;
  display: none;
}
.Nav-Bar .container-menu a {
  color: black;
  text-decoration: none;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
@media only screen and (min-width: 1000px) {
  .Nav-Bar #burguer {
    display: none;
  }
  .Nav-Bar .container-menu {
    display: flex;
    gap: 35px;
    margin-left: -15vw;
    margin-top: 0rem;
    position: relative;
    max-width: 370px;
  }
  .Nav-Bar .container-menu a {
    font-size: 1rem;
  }
}

.intro-container {
  background-color: #333333;
}
.intro-container .container-element {
  display: grid;
  columns: 1fr;
  color: #FFFFFF;
  height: 63vh;
  margin: 0 10vw 0 5vw;
}
.intro-container .container-element .container-intro {
  padding-top: 10vh;
}
.intro-container .container-element .container-title h1, .intro-container .container-element .container-title h2 {
  font-size: 6.5vh;
}
.intro-container .container-element .container-btn {
  padding-bottom: 2vh;
}
@media only screen and (min-width: 1000px) {
  .intro-container .container-element {
    margin-left: 12vw;
    margin-right: 12vw;
  }
  .intro-container .container-element .container-intro {
    display: flex;
    align-items: center;
  }
  .intro-container .container-element .container-title h1, .intro-container .container-element .container-title h2 {
    font-size: 12vh;
  }
}

.container-fecha {
  background-color: #222222;
}
.container-fecha .container-fecha-contenido {
  display: grid;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-top: 2em;
  height: 352px;
}
.container-fecha .container-fecha-contenido .container-detail {
  /* display: grid; */
  margin-bottom: -2rem;
  padding-left: 0em;
}
.container-fecha .container-fecha-contenido .container-detail p {
  padding-bottom: 1rem;
}
.container-fecha .container-fecha-contenido .container-detail .detail {
  display: grid;
  color: #BEAD8E;
}
.container-fecha .container-fecha-contenido .container-detail .detail .line {
  background-color: #BEAD8E;
  height: 0.1rem;
  margin-top: 0.9rem;
  width: 70vw;
  max-width: 350px;
}
@media only screen and (min-width: 1000px) {
  .container-fecha .container-fecha-contenido {
    padding-left: 0;
    margin-left: 12vw;
    margin-right: 12vw;
    display: flex;
    gap: 3vw;
    max-height: 100px;
  }
  .container-fecha .container-fecha-contenido .container-detail .detail .line {
    background-color: #BEAD8E;
    height: 0.1rem;
    margin-top: 0.9rem;
    width: 15vw;
  }
}

.container-container .container-about-us {
  display: flex;
  flex-flow: column wrap;
  background-color: #F8F8F8;
  height: 610px;
  margin-top: 4rem;
  padding-left: 1em;
  padding-right: 2em;
}
.container-container .container-about-us .encabezado {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: #777777;
}
.container-container .container-about-us .about-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.container-container .container-about-us .about-description {
  margin-bottom: 2rem;
}
.container-container .bloques-ford .block-top {
  margin-top: 0;
}
@media only screen and (min-width: 1000px) {
  .container-container .bloques-ford .block-top {
    margin-top: -7rem;
  }
}
.container-container .bloques-ford .block-white {
  background-color: #FFFFFF;
  margin-bottom: 3rem;
  box-shadow: 0px 14px 14px -3px rgba(0, 0, 0, 0.03);
}
.container-container .bloques-ford .block-white .block-white-svg .image-s {
  color: red;
  margin-left: 3rem;
  margin-bottom: 3rem;
}
.container-container .bloques-ford .block-white .block-white-svg .image-b {
  margin-top: 2rem;
}
@media only screen and (min-width: 1000px) {
  .container-container {
    margin-left: 12vw;
  }
  .container-container .container-about-us {
    background-color: brown;
    padding-left: 17rem;
    margin-left: 31rem;
    margin-top: 13rem;
    max-width: 300px;
    margin-bottom: -44rem;
  }
  .container-container .container-about-us .about-title {
    max-width: 250rem;
  }
  .container-container .container-about-us .about-title h1 {
    font-size: 3.9rem;
  }
  .container-container .container-about-us .about-description {
    max-width: 22rem;
  }
}

.rooms {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  text-align: center;
}
.rooms .encabezado-rooms {
  color: #777777;
}
.rooms .title-rooms {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}
.rooms .container-pgn {
  display: flex;
  width: 256px;
  height: 40px;
  background-color: white;
  margin-left: 22%;
  margin-top: 2rem;
  margin-bottom: -1rem;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.rooms .corredor-img {
  height: 244px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.rooms .corredor-img .flechas-direc {
  display: flex;
  position: relative;
  margin-top: 7rem;
  z-index: 111;
  justify-content: space-between;
}
.rooms .container-detail {
  display: grid;
  position: relative;
  text-align: center;
  width: 335px;
  height: 215px;
  background-color: #FFFFFF;
  margin-left: 3vw;
  margin-top: -1.5rem;
}
.rooms .container-detail p {
  padding-left: 2rem;
  padding-right: 2rem;
}
.rooms .container-detail .cabecera-detail {
  margin-top: 20px;
  font-size: 1.8rem;
}
.rooms .container-detail .precio-detail {
  font-size: 2rem;
  color: #BEAD8E;
}

.container-slider-hand {
  width: 100%;
  height: 250px;
}

.intro-video {
  display: grid;
  background-color: #222222;
  padding-bottom: 2.5rem;
}
.intro-video .container-video {
  display: grid;
  color: #FFFFFF;
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 2rem;
}
.intro-video .container-video .encabezado-video {
  color: #BEAD8E;
  padding-top: 3rem;
  margin-bottom: -1rem;
}
.intro-video .container-video .title-video {
  font-size: 2rem;
}
.intro-video .container-video .container-reproductor {
  height: 270px;
  background-color: #E5E5E5;
}
@media only screen and (min-width: 1000px) {
  .intro-video .container-video {
    margin-left: 12vw;
    margin-right: 12vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-template-areas: "enca . video video" "title title video video" "descrip descrip video video" "btn . video video";
  }
  .intro-video .container-video .encabezado-video {
    grid-area: enca;
  }
  .intro-video .container-video .title-video {
    grid-area: title;
  }
  .intro-video .container-video .descrip-video {
    margin-top: 2rem;
    grid-area: descrip;
  }
  .intro-video .container-video .container-reproductor {
    grid-area: video;
    margin-top: 3rem;
  }
  .intro-video .container-video .btn-video {
    grid-area: btn;
  }
}

.facilities {
  margin-left: 12vw;
  margin-right: 12vw;
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}
.facilities .encabezado-facil {
  color: #777777;
}
.facilities .title-facil {
  font-size: 1.7rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.facilities .container-facil {
  display: grid;
  justify-content: start;
  align-items: start;
  text-align: start;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
}
.facilities .container-facil .facilities-individua .img-container {
  justify-content: space-between;
}
.facilities .container-facil .facilities-individua .img-container .num-img {
  margin-left: 9rem;
  width: 7rem;
  height: 5rem;
  padding-bottom: 3rem;
  padding-top: 2rem;
}
.facilities .container-facil .facilities-individua .img-container .icon-img {
  width: 3.4rem;
  height: 3.4rem;
  padding-bottom: 1rem;
}
.facilities .container-facil .facilities-individua .facil-title {
  font-size: 1.7rem;
  margin-bottom: 1.4rem;
}
.facilities .container-facil .facilities-individua .facil-content {
  margin-bottom: 0.5rem;
}

.black_facilities {
  background: #222222;
  margin: 0;
  padding: 8vh 0;
}
.black_facilities .encabezado-facil {
  color: #FFFFFF;
}
.black_facilities .title-facil {
  color: #FFFFFF;
}
.black_facilities .container-facil {
  gap: 3rem;
}
.black_facilities .container-facil .facilities-individual {
  background: #333333;
  padding: 2rem;
  gap: 1rem;
  border-radius: 20px;
}
.black_facilities .container-facil .facilities-individual .facil-title {
  color: #FFFFFF;
  margin: 1rem 0;
}
.black_facilities .container-facil .facilities-individual .facil-content {
  color: #FFFFFF;
}

.view-feature {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .view-feature {
    background-color: aqua;
    display: block;
  }
}

.img-galleta-b {
  display: none;
  margin-bottom: -9rem;
}

.img-galleta-s {
  float: right;
  margin-top: 4rem;
}

@media only screen and (min-width: 1000px) {
  .img-galleta-s {
    display: none;
  }
  .img-galleta-b {
    display: flex;
  }
}
.container-menu {
  margin-top: 11rem;
  margin-left: 4vw;
  margin-right: 4vw;
}
.container-menu .encabezado-menu {
  color: #777777;
}
.container-menu .title-menu {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}
.container-menu .container-list-menu {
  display: grid;
}
.container-menu .container-list-menu .lista-menu {
  display: grid;
  gap: 1rem;
}
.container-menu .container-list-menu .lista-menu .plato {
  display: grid;
  gap: 3rem;
  grid-template-columns: 120px 1fr;
}
.container-menu .container-list-menu .lista-menu .plato .img-plato {
  display: block;
  width: 120px;
  height: 120px;
  background-color: #E5E5E5;
}
.container-menu .container-list-menu .lista-menu .plato .descrip-plato {
  gap: 1rem;
}
.container-menu .container-list-menu .lista-menu .plato .descrip-plato .title-descrip-plato {
  color: #222222;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container-menu .container-list-menu .lista-menu .plato:hover {
  background-color: rgb(17, 16, 16);
  color: whitesmoke;
}
.container-menu .container-list-menu .lista-menu .plato:hover .title-descrip-plato {
  color: whitesmoke;
}
@media only screen and (min-width: 1000px) {
  .container-menu .container-list-menu {
    display: flex;
    gap: 10px;
  }
}
.container-menu .flechas-direc-menu {
  display: flex;
  justify-content: right;
  text-align: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.container-menu #flechas-top {
  display: none;
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .container-menu {
    margin-left: 12vw;
    margin-right: 12vw;
  }
  .container-menu .encabezado-menu {
    margin-top: -4rem;
  }
  .container-menu #flechas-bot, .container-menu .img-galleta-s {
    display: none;
  }
  .container-menu .img-galleta-s {
    display: none;
  }
  .container-menu #flechas-top {
    display: flex;
  }
  .container-menu .img-menu-big {
    margin-bottom: 4rem;
  }
}

.carrucel-img-footer {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .carrucel-img-footer {
    margin-left: 12vw;
    margin-right: 12vw;
    display: flex;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
  .carrucel-img-footer .img-menu-big {
    height: 335px;
    width: 358px;
    margin-top: 3.5rem;
  }
}

.carrucel-footer {
  display: grid;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-bottom: 2rem;
  gap: 1rem;
  justify-content: center;
}
@media only screen and (min-width: 1000px) {
  .carrucel-footer {
    display: none;
  }
}

.container-btn-carrucel {
  display: flex;
  margin-top: 1rem;
  gap: 0.5em;
  justify-content: center;
}
.container-btn-carrucel .btn-point {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: none;
}
.container-btn-carrucel .btn-point:hover {
  background-color: #BEAD8E;
}
.container-btn-carrucel .point {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 1000px) {
  .container-btn-carrucel {
    display: none;
  }
}

.container-information {
  background-color: #222222;
  display: grid;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 4rem;
}
.container-information .container-num {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  margin-left: -1.5rem;
  margin-top: 1.5rem;
}
.container-information .container-num h1 {
  padding-left: -1rem;
}
.container-information .container-num h6 {
  margin-top: 1.9rem;
  margin-bottom: -2rem;
}
.container-information .container-descrip {
  color: #777777;
}
@media only screen and (min-width: 1000px) {
  .container-information {
    display: flex;
    margin-left: 12vw;
    margin-right: 12vw;
  }
}

.btn-normal {
  width: 217px;
  height: 60px;
  background-color: #BEAD8E;
  border: none;
  color: #FFFFFF;
}

.btn-large {
  width: 260px;
  height: 60px;
  background-color: #BEAD8E;
  border: none;
  color: #FFFFFF;
}

.mlb {
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.btn-oscuro {
  width: 217px;
  height: 60px;
  background-color: #333333;
  color: #FFFFFF;
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.footer {
  background-image: url("../assets/svg/footer_back.png");
  display: grid;
  padding-top: 3vh;
}
.footer .container-footer {
  margin-left: 4vw;
  margin-right: 4vw;
  display: grid;
  gap: 1.5rem;
}
.footer .container-footer .intro {
  display: grid;
  gap: 1rem;
}
.footer .container-footer .intro .footer-encabezado {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.footer .container-footer .intro .footer-encabezado .footer-logo-h {
  width: 6rem;
  background-color: #BEAD8E;
  color: #FFFFFF;
  text-align: center;
}
.footer .container-footer .intro .footer-encabezado .footer-logo-h h1 {
  font-size: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer .container-footer .intro .footer-encabezado .footer-name {
  font-size: 1.9rem;
}
.footer .container-footer .intro .footer-content-intro {
  font-size: 1rem;
  margin-top: 1rem;
  color: #777777;
  max-width: 335px;
}
.footer .container-footer .intro .icon-marcas {
  display: flex;
  gap: 0.7rem;
  margin-top: 1rem;
  max-height: 40px;
}
.footer .container-footer .intro .icon-marcas div {
  font-size: 24px;
  background-color: #E4E4E4;
  padding: 0.5rem;
}
.footer .container-footer .intro .icon-marcas div:hover {
  background-color: #BEAD8E;
  color: #FFFFFF;
}
.footer .container-footer .footer-services {
  display: flex;
  justify-content: center;
}
.footer .container-footer .footer-services .services-left {
  display: grid;
  gap: 2rem;
}
.footer .container-footer .footer-services .contain-service-colum {
  display: flex;
  align-items: self-start;
  gap: 3rem;
}
.footer .container-footer .footer-services .contain-service-colum .services-colum {
  display: grid;
  gap: 1rem;
  color: #777777;
}
.footer .container-footer .contact-us {
  display: grid;
  gap: 1rem;
}
.footer .container-footer .contact-us .phone-number {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer .container-footer .contact-us .phone-number .content-phone-number .content-text {
  color: #777777;
}
.footer .container-footer .contact-us .phone-number .content-phone-number .content-number {
  color: #777777;
}
@media only screen and (min-width: 1000px) {
  .footer .container-footer {
    margin-left: 12vw;
    margin-right: 12vw;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 2vw;
  }
  .footer .container-footer .footer-content-intro {
    max-width: 335px;
    max-height: 130px;
  }
}
.footer .info-line {
  background-color: #F8F8F8;
}
.footer .info-line .container-info-line {
  margin-left: 4vw;
  margin-right: 4vw;
}
.footer .info-line .container-info-line div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1000px) {
  .footer .info-line .container-info-line {
    margin-left: 12vw;
    margin-right: 12vw;
    display: flex;
    justify-content: space-between;
  }
}

.sub-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

#pic:focus ~ .hola {
  font-size: 3rem;
  color: red;
}

.video_seccion {
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 9vh;
}

.altura {
  height: 32vh !important;
}

@media only screen and (min-width: 1000px) {
  .altura {
    height: 42vh !important;
  }
}
.indicador {
  display: flex;
  background: #FFFFFF;
  gap: 0.5rem;
  color: black;
  width: 10rem;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 1.3rem;
  margin-bottom: -7.2vh;
  margin-left: auto;
}
.indicador a {
  text-decoration: none;
  color: black;
}
.indicador p {
  color: #BEAD8E;
}

.conten-contactos {
  margin-left: 4vw;
  margin-right: 4vw;
}
.conten-contactos .conten-contactos-element {
  display: flex;
  background-repeat: no-repeat;
  background-size: 13rem;
  background-position: bottom right;
  height: 12rem;
  gap: 1rem;
  margin: 1.5rem 0;
  max-width: 360px;
}
.conten-contactos .conten-contactos-element .contact-imagen {
  margin-top: 3rem;
  height: 2.5rem;
}
.conten-contactos .conten-contactos-element .conten-element-data {
  margin-top: 3rem;
}
.conten-contactos .conten-contactos-element .conten-element-data h2 {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 1000px) {
  .conten-contactos {
    margin-left: 12vw;
    margin-right: 12vw;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
  }
}

#imag-contact {
  height: 200px;
  background-color: #777777;
  width: 92vw;
  margin: 4rem 4vw;
}

@media only screen and (min-width: 1000px) {
  #imag-contact {
    height: 400px;
  }
}
#sidebar {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.formulario-contact {
  display: grid;
  margin-left: 4vw;
  margin-right: 4vw;
}
.formulario-contact input {
  border: none;
  margin: 0.5rem 0;
  background-color: #F8F8F8;
  padding: 1.5rem;
}
.formulario-contact #area {
  padding-bottom: 8rem;
}
.formulario-contact .btn-normal {
  margin: 2rem auto 5rem auto;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

.findLocation-btn {
  background-color: red;
  margin-left: auto;
  z-index: 1000;
}

.select-div {
  margin-left: 4vw;
  margin-right: 4vw;
}

/* input[type=text] {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    line-height: 40px;
    margin-right: 0;
    min-width: 25%;
}

input[type=button] {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    margin-left: 5px;
}

input[type=button]:hover {
    background: rgb(235, 235, 235);
}
input[type=button].button-primary {
    background-color: #1a73e8;
    color: white;
}
input[type=button].button-primary:hover {
    background-color: #1765cc;
}
input[type=button].button-secondary {
    background-color: white;
    color: #1a73e8;
}

input[type=button].button-secondary:hover {
    background-color: #d2e3fc;
}

#response-container {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    overflow: auto;
    max-height: 50%;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: small;
}

#instructions {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    padding: 1rem;
    font-size: medium;
}
 */
.offers_container {
  margin-left: 4vw;
  margin-right: 4vw;
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
  background: #F8F8F8;
}
.offers_container .offers-container-img {
  background: rgba(189, 189, 189, 0.5098039216);
  height: 500px;
  width: 80vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.offers_container .offers-container-img .container-precios .precio-actual {
  font-size: 1.5rem;
  color: #BEAD8E;
}
.offers_container .offers-container-img .container-precios .noche-actual {
  font-size: 1rem;
}
.offers_container .offers-container-img .container-precios .precio-descuento {
  font-size: 2rem;
  color: #DE5777;
}
.offers_container .offers-container-img .container-precios .noche-descuento {
  font-size: 1rem;
}
.offers_container .container-container {
  margin-left: 4vw;
  margin-right: 4vw;
  display: grid;
  gap: 1rem;
}
.offers_container .container-container button {
  margin-bottom: 1rem;
}
.offers_container .container-container .room-type {
  color: #777777;
}
.offers_container .container-container .room-name {
  font-size: 2.5rem;
}
.offers_container .container-container .offers-container-description {
  display: flex;
  color: #777777;
  justify-content: space-between;
  flex-direction: column;
}
.offers_container .container-container .offers-container-description .descrip-room {
  max-width: 750px;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1000px) {
  .offers_container .container-container .offers-container-description {
    flex-direction: row;
  }
}

.container-extras {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  max-width: 280px;
}
.container-extras .container-extra-data p {
  margin: 0.5rem 0;
  color: #777777;
}

.container-popular {
  background-color: black;
  padding: 1rem 0;
  margin: 3rem 0;
  height: 530px;
}
.container-popular .datos-container {
  margin-left: 4vw;
  margin-right: 4vw;
}
.container-popular .datos-container .title-popular-rooms {
  text-align: center;
}
.container-popular .datos-container .title-popular-rooms p {
  color: #BEAD8E;
  padding: 1rem 0;
}
.container-popular .datos-container .title-popular-rooms h2 {
  color: #ffffff;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.container-popular .datos-container .container-list-rooms .container-img-listRooms {
  background-color: #777777;
  width: auto;
  height: 180px;
}
.container-popular .datos-container .container-list-rooms .container-img-listRooms .container-arrow {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto -5px;
  padding-top: 4rem;
}
.container-popular .datos-container .container-list-rooms .container-img-listRooms .container-arrow .arrow-left {
  justify-content: center;
}
.container-popular .datos-container .container-list-rooms .container-img-listRooms .container-arrow .arrow-left i {
  width: 50%;
  margin: 0 auto;
}
.container-popular .datos-container .container-popular-pgn {
  justify-content: center;
  gap: 0.9rem;
  padding: 0.5rem 0;
  display: flex;
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: -1rem;
}
.container-popular .datos-container .container-popular-data {
  background-color: #ffffff;
  width: auto;
  height: 210px;
  margin-top: -1.67rem;
}
.container-popular .datos-container .container-popular-data h2, .container-popular .datos-container .container-popular-data p {
  color: #333333;
  text-align: center;
  margin: 0.5rem 0;
}
.container-popular .datos-container .container-popular-data h2 {
  padding-top: 2rem;
}
.container-popular .datos-container .container-popular-data .precio-booking {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.7rem;
}
.container-popular .datos-container .container-popular-data .precio-booking p {
  color: #BEAD8E;
}
.container-popular .datos-container .container-popular-data .precio-booking button {
  border: none;
  background-color: #ffffff;
}

#container-rooms {
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 4vw;
  margin-right: 4vw;
}
#container-rooms .room {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
  background: #F8F8F8;
}
#container-rooms .room .img_room {
  width: 100%;
  height: 15rem;
}
#container-rooms .room .container-pgn {
  display: flex;
  gap: 0.8rem;
  padding: 1rem;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 2px 2px 40px 1px rgba(0, 0, 0, 0.1);
}
#container-rooms .room .container-detail {
  width: 100%;
}
#container-rooms .room .container-detail .adquire-room {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
#container-rooms .room .container-detail .adquire-room .precio-detail {
  color: #BEAD8E;
}
#container-rooms .room .container-detail .adquire-room .btn-adquire {
  border: none;
  background: none;
  color: #777777;
  cursor: pointer;
  padding: 0.5rem;
}
#container-rooms .room .container-detail .adquire-room .btn-adquire:hover {
  background: #BEAD8E;
  color: #F8F8F8;
  border-radius: 3px;
}

.container-pagination {
  display: flex;
  justify-content: center;
}
.container-pagination .btn-pages {
  border: none;
  background: none;
  width: 60px;
  height: 60px;
}
.container-pagination .btn-pages:hover {
  cursor: pointer;
  background-color: #BEAD8E;
  color: #FFFFFF;
}

@media only screen and (min-width: 1000px) {
  #container-rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
}
.puntos {
  color: #BEAD8E;
  font-size: 3rem;
}

.btn-selected {
  background-color: #BEAD8E;
}

.arrow {
  width: 2rem;
  height: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #FFFFFF;
  background-color: #E4E4E4;
}

.arrow:hover {
  background-color: #BEAD8E;
  color: #FFFFFF;
}

.arrow-right {
  width: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #BEAD8E;
  color: #FFFFFF;
}

.block {
  width: 270px;
  height: 300px;
  margin-left: 3.5rem;
  background-color: #E4E4E4;
}

.block-black {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #222222;
  color: #FFFFFF;
}
.block-black .block-black-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BEAD8E;
  margin-top: 2rem;
  margin-right: 2rem;
}
.block-black h3 {
  font-size: 2rem;
}
.block-black h2 {
  font-size: 3rem;
}
.block-black p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.img-control {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*# sourceMappingURL=main.css.map */
