$neutro: #FFFFFF;
$dark-grey: #333333;
$crema: #BEAD8E;
$black: #222222;
$live-grey:#F9F9F9;
$grey: #E4E4E4;
//Esta variable tiene el tamaño con el cual utilizamos el media query
$desktop-breakpoint: 1000px;