.sub-title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}

#pic:focus~.hola{
    font-size: 3rem;
    color: red;
}

.video_seccion{
    @include margenes;
    margin-top: 9vh;
}