
.intro-container{
    //display: grid;
    background-color: $dark-grey;
    .container-element{
        display: grid;
        columns: 1fr;
        background-color: $dark-grey;
        color: $neutro;
        height: 63vh;
        margin-left: 5vw;
        margin-right: 10vw;
        
        .container-intro{
            padding-top: 10vh;
        }

        .container-title{
            font-size: 29px;

        }
        
        .container-btn{
            padding-bottom: 2vh;
        }
    }

}

.container-fecha{
    display: grid;
    background-color: $black;
    color: $neutro;
    padding-left: 1.5em;
    padding-top: 2em;
    height: 15em;
}