
.intro-container{
    //display: grid;
    background-color: $dark-grey;
    .container-element{
        display: grid;
        columns: 1fr;
        background-color: $dark-grey;
        color: $neutro;
        height: 63vh;
        margin-left: 5vw;
        margin-right: 10vw;
        
        .container-intro{
            padding-top: 10vh;
        }

        .container-title{
            font-size: 29px;

        }
        
        .container-btn{
            padding-bottom: 2vh;
        }
    }

}

.container-fecha{
    display: grid;
    background-color: $black;
    color: $neutro;
    padding-left: 1.5em;
    padding-top: 2em;
    height: 15em;
}

.container-about-us{
    display:flex;
    flex-flow: column wrap;
    background-color: $live-grey ;
    height: 610px;
    margin-top:4rem;
    padding-left: 1em;
    padding-right: 2em;

    .encabezado{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .about-title{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .about-description{
        margin-bottom: 2rem;
    }
}

.block{
    width: 270px;
    height: 300px;
    margin-left: 3.5rem;
    background-color: $grey;
}
.bloques-ford{

    .block-top{        
        margin-top: -7rem;
    }

    .block-uno{
        background-color: $neutro;
    }

    .block-black{
        background-color: $black;
    }
}
