
.intro-container{
    //display: grid;
    background-color: $dark-grey;
    .container-element{
        display: grid;
        columns: 1fr;
        background-color: $dark-grey;
        color: $neutro;
        height: 63vh;
        margin-left: 5vw;
        margin-right: 10vw;
        
        .container-intro{
            padding-top: 10vh;
        }

        .container-title{

            h1{
                font-size: 6.5vh;
            }           
        }
        
        .container-btn{
            padding-bottom: 2vh;
        }

        @media only screen and (min-width: $desktop-breakpoint){
            //aqui va el mixing para los bordes
            @include margenes; 
            .container-intro{
                display: flex;
                align-items: center;
            }

            .container-title{
                h1{
                    font-size: 12vh;
                }
                
            }
              
        }
    }

   

}

.container-fecha{
    background-color: $black;

    .container-fecha-contenido{
        display: grid;
        color: $neutro;
        padding-left: 1.5em;
        padding-top: 2em;
        height: 352px;
    
        .container-fecha{
            
        }
        .container-detail{
            /* display: grid; */
            margin-bottom: -2rem; 
            padding-left: 0em;
            p{
                padding-bottom: 1rem;
            }
            .detail{
                display: grid;
                color: $crema;
                .line{
                    background-color: $crema;
                    height: 0.1rem;
                    margin-top: 0.9rem;
                    width: 70vw;
                    max-width: 350px;
                }
            }
        }
        

        @media only screen and (min-width: $desktop-breakpoint){
            padding-left: 0;
            @include margenes;
            display: flex;
            gap: 3vw;            
            max-height: 100px;
            
            .container-detail{

                .detail{
                    
                    .line{
                        background-color: $crema;
                        height: 0.1rem;
                        margin-top: 0.9rem;
                        width: 15vw;
                    }
                }
            }

               
        }
    }
}



.container-about-us{
    display:flex;
    flex-flow: column wrap;
    background-color: $live-grey ;
    height: 610px;
    margin-top:4rem;
    padding-left: 1em;
    padding-right: 2em;

    .encabezado{
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .about-title{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .about-description{
        margin-bottom: 2rem;
    }
}

.block{
    width: 270px;
    height: 300px;
    margin-left: 3.5rem;
    background-color: $grey;
}
.bloques-ford{

    .block-top{        
        margin-top: -7rem;
    }

    .block-uno{
        background-color: $neutro;
    }

    .block-black{
        background-color: $black;
    }
}
