body,
p,
h1,h2,h3,h4{
    margin: 0;
}

.mag-rigth{
    margin-right: 12vw;
}



@import "./variable";
@import "./mixings.scss";
@import "./nav-bar.scss";
@import "./home.scss";
@import "./btn.scss";
@import "./footer.scss";

.puntos{
    color: $crema;
    font-size: 3rem;
}

.arrow-left{
    width: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $neutro;
}

.arrow-right{
    width: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $crema;
    color: $neutro;
}


.block{
    width: 270px;
    height: 300px;
    margin-left: 3.5rem;
    background-color: $grey;
}


.block-black{
    display: grid;
    //display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $black;
    color: $neutro;

    .block-black-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $crema;
        margin-top: 2rem;
        margin-right: 2rem;
    }

    h3{
        font-size: 2rem;
        
    }

    h2{
        font-size: 3rem;
    }
    p{
        font-size: 1.1rem;
        margin-bottom:1rem;
        
    }

}

.img-control{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}