.Nav-Bar{
    width: 100%;
    background-color: $neutro;
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 8.3vh;
    
    div {
        display: flex;
        gap: 1rem;
    }
    
    #btn_menu{
        display: none;
    }

    .lbl-menu{
        width: 25px;
        height: 15px;
        position: relative;
        cursor: pointer;
    }

    .lbl-menu #spn1, #spn2, #spn3{
        position: absolute;
        content: '';
        width: 25px;
        height: 3px;
        border-radius: 5px;
        transition: all 400ms ease;
        background: black;
    }

    #spn2{
        top: 9px;
    } 
    
    #spn3{
        top: 18px;
    }

    #btn_menu:checked ~ .lbl-menu #spn1{
        transform: rotate(140deg);
        top: 10px;
    }

    #btn_menu:checked ~ .lbl-menu #spn2{
        opacity: 0;
    }

    #btn_menu:checked ~ .lbl-menu #spn3{
        transform: rotate(-140deg);
        top: 10px;
    }

    #btn_menu:checked ~ .container-menu{
        display: block;

        ul{
            display: block;
        }
    }

    .left{
        align-items: center;

        .left-H{
            background-color: $neutro;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            box-shadow: 0px 25px 37px 3px rgba(0,0,0,0.22);
        }
    }

    .container-menu{        
        background-color: $neutro;
        color: $black;
        display: grid;
        width: 100%;
        position:absolute;
        margin-top: 12.1rem;
        display: none;

        ul{
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            display: none;
        }

        li{
            margin-bottom: 8px;
            a{
                color: black;
                text-decoration: none;
                margin-left: 1rem;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
                font-size: 1.5rem;
            }
        }
       
    }

    @media only screen and (min-width: $desktop-breakpoint){
        #burguer{
            display: none;
        }

        .container-menu{
            display: flex;
            gap: 35px;
            margin-left: -15vw;
            margin-top: 0rem;
            position: relative;
            max-width: 370px;

            a{
                font-size: 1rem;
            }
        }
    }

}