.Nav-Bar{
    width: 100%;
    background-color: $neutro;
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 8.3vh;
    
    div {
        display: flex;
        gap: 1rem;
    }

    .left{
        align-items: center;

        .left-H{
            background-color: $neutro;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            box-shadow: 0px 25px 37px 3px rgba(0,0,0,0.22);
        }
    }

    .container-menu{
        display: none;
        
        a{
            color: black;
            text-decoration: none;
        }
       
    }

    @media only screen and (min-width: $desktop-breakpoint){
        #burguer{
            display: none;
        }

        .container-menu{
            display: flex;
            gap: 35px;
            margin-left: -15vw;
        }
    }

}